body, html {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
     /* 防止滚动条 */
    /* height: 100%; */
}

.canvas-container canvas {
    position: absolute;  /* 关键：绝对定位实现叠加 */
    left: 0;
    top: 0;
    /* width: 100%;
    height: 100%; */
}

.tools {
    position: fixed;
    left: 22px;
    top: calc(50% - 350.8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    border: 6px solid #F0F0F0;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2)
}

.tools > .tools-item {
    margin: 5px 0 5px 0;
}

.tools-item > button {
    display: flex; 
    justify-content: center; 
    align-items: center;

    width: 32px;
    height: 32px;
    border: 6px solid #F0F0F0;
    border-radius: 5px;
    padding: 0;
    background-color: #F0F0F0;
}

.tools-item > button:hover {
    background: #ddd;
    border: 6px #ddd;
}

.tools-item > button:hover img,
.tools-item > button:hover svg {
    width: 24px;
    height: 24px;
}

.menu {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 6px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 0px;
    display: none;
}


.menu-item > button {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 0px;
    padding: 0;
    width: 40px;
    height: 30px;
    border: 6px solid #FFFFFF;
    border-radius: 5px;
    gap: 6px;
    background-color: #FFFFFF;
}
.menu-item > button svg {
    vertical-align: middle; 
}

@keyframes rotate180 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-180deg);
    }
}

.menu-item > button:hover {
    background: #ddd;
    border: 6px solid #ddd;
}

.menu-item > button:hover > .unline{
    animation: rotate180 0.1s linear forwards;
}

.node {
    /* 尺寸控制 */
    width: 120px;
    height: 60px;
    
    /* 定位方式 */
    position: absolute;
    left: 20px;  /* 初始X位置 */
    top: 30px;   /* 初始Y位置 */
    
    /* 圆角 & 边框 */
    border-radius: 8px;  /* 对应borderRadius配置 */
    border: 2px solid #333; /* 对应borderColor */
    
    /* 颜色填充 */
    background-color: #f0f0f0; /* 对应fillColor */
    
    /* 文字样式 */
    color: #FFF;           /* 文本颜色 */
    font-family: Arial;    /* 字体 */
    font-size: 14px;       /* 字号 */
    text-align: center;    /* 水平居中 */
    line-height: 60px;     /* 垂直居中 */
}