body, html {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
     /* 防止滚动条 */
    /* height: 100%; */
}

.canvas-container canvas {
    position: absolute;  /* 关键：绝对定位实现叠加 */
    left: 0;
    top: 0;
    /* width: 100%;
    height: 100%; */
}
